{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Deactivate</legend>
                <h2>Are you sure you want to deactivate Veterinary Officer <strong>{{ object.name }}</strong></h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Deactivate</button>
                <a class="btn btn-outline-secondary" href="{% url 'welcome' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}