{% extends "base.html" %}
{% block content %}
    <h5 style="font-size: 30px; margin-bottom: 20px; color: brown; text-align: center; font-weight: bold;">VETERINARY OFFICERS</h5>
    <div class="container">
      <div class="flex" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="media-body">
              <h2><a class="article-title" style="color: black; font-size: 20px;" ><strong>Name : </strong>{{post.name}}</a></h2>
              <p class="article-content"style="color: black; font-size: 20px;"><strong>Email : </strong><em>{{ post.email}}</em></p>
              <p class="article-content"style="color: black; font-size: 20px;"><strong>County : </strong><em>{{ post.county}}</em></p>
              <p class="article-content"style="color: black; font-size: 20px;"><strong>phone Number : </strong>{{ post.phoneNumber}}</p>
              <p class="article-content"style="color: black; font-size: 20px;"><strong>ID Number : </strong>{{post.idNumber}}</p>
            </div>
            <button class="btn-xs btn-outline-info"><a class="nav-item nav-link" href="{% url 'update' post.pk %}">Update</a></button>
            <button class="btn-xs btn-outline-danger" ><a class="nav-item nav-link" href="{% url 'delete' post.pk %}">Deactivate</a></button>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock content %}